- Ctrl+enter -> run

Basic data structures for list.
More can be added.
Bunun yerine başka bir not alma yöntemi kullan çünkü backup yapmak bunda çok zor olur. Ayrıca bozulursa da geri kazanamayız.

## List

In [ ]:
# This basic taken from djangogirls.org and docs.python.org
# cyber-syntax
variable = "hi\nthere" # \n same like other language. It's sending 1 line below.
int = 54
print(variable.upper()) # BIG STRINGS
print(len(variable)) # Sum how much character
print(len(str(int))) # str() for convert everything to strings

In [ ]:
lottery = [0,1,2,3] # variable
len(lottery) # Sum how much character
print(len(lottery)) # same with print command.
lottery.reverse() # highest to lowest
print(lottery)
lottery.sort() # lowest to highest
print(lottery)
# deleting line
print(lottery[0]) # line 0 
lottery.pop(0) # delete line 0 
print(lottery)
# appending 
lottery.append(44)
print(lottery)
lottery.pop(3) # delete item line 3 
lottery.pop() # delete last item 
print(lottery)

In [ ]:
n = [0,1,2,3]
a = [4,5]
n.extend("a") # Extend can't add strings
n.append([6,7]) # Can't add 2 number
print(n)

n.insert(9,44) # Can't add string but add number and variable
print(n)
n.clear() # delete all list items.
print(n)
n.append("s")
print(n)

## Dictionary
- This is usable for associate values with keys

In [ ]:
dictionary = {'name': 'Jack', 'country': 'US', 'number': [1,2,3]}
#printing section
print(dictionary['name'])
print(dictionary['country'])
print(dictionary['number'])
# You can change(add,delete,sort...) dictionary later.
dictionary['code'] = 'Python'
dictionary['country'] = 'Turkey'
#print
print(dictionary['code'])
print(dictionary['country'])
#len also working dictionary too.
len(dictionary) # summing jack,us,123

## Compare

In [ ]:
5 > 2 # true
3 < 1 # false
1 == 1 # true, They are equal(same)
5 != 2 # true, They are unequal(unsame)

len([1,2,3]) > len([4,5]) # true

n == n # true

## Boolean
- True
- False

In [ ]:
# Correct
a = True 
a # True

# Wrong 
#b = TRUE  
#c = tRue
#d = true

c = True and False
c # False

d = True or False
d # True

e = True or 1 == 1 #(True)
e # True

f = True and 1 == 2 #(False)
f # False

## If statements

In [ ]:
if 3 > 5:#(If True)
    print("It's true")
else:
    print("It's false")

In [ ]:
name = '*'
if name == 'name': # Don't forget to colon(iki nokta üst üste)
    print("hey name!")
elif name == 'murta': # colon
    print("hey murta!")
else:
    print("hello anon!")

## Functions

In [ ]:
def hi():
    print("hi there!")
    print("how are you?")
hi()

In [ ]:
def hi(name):
    if name == 'Ola':
        print("Hi ola!")
    else:
        print("hello anon")
    
hi(name)
hi("Ola")

In [ ]:
def hi(name):
    print("Hi " + name + '!')
hi("mahmut")

In [ ]:
# Create variable
directory = range(10) # It's not include number 10
for x in directory: # Don't forget to colon
    print(x)

## Loops

In [ ]:
# create function
def hi(name): 
    print("Hi " + name) 
# create list for girls
girls = ['Rachel', 'Monica', 'Phoebe', 'Ola', 'You']
# for statement give all the list 
for name in girls:
    hi(name)
    print("Next girl")

In [ ]:
#range is a function that creates a list of numbers following one after the other (these numbers are provided by you as parameters).
for i in range(0,3): # range include the first value but won't include last
    print(i)

## Operators

In [ ]:
# Day 1 - 30DaysOfPython Challenge

print(2 + 3)             # addition(+)
print(3 - 1)             # subtraction(-)
print(2 * 3)             # multiplication(*)
print(3 / 2)             # division(/)
print(10**2)            # exponential(**)
print(6 % 2)             # modulus(%)(bölümden kalan)
print(91 // 2)            # Floor division operator(//)
# en yakın sayıya // yuvarlama

In [ ]:
# Checking data types
print(type(10))          # Int
print(type(3.14))        # Float
print(type(1 + 3j))      # Complex number
print(type('Asabeneh'))  # String
print(type([1, 2, 3]))   # List
print(type({'name':'Asabeneh'})) # Dictionary
print(type({9.8, 3.14, 2.7}))    # Set
print(type((9.8, 3.14, 2.7)))    # Tuple

In [ ]:
= 	    x = 5 	    = 5 	
+= 	    x += 3 	    x = x + 3 	
-= 	    x -= 3 	    x = x - 3 	
*=  	x *= 3 	    x = x * 3 	
/=  	x /= 3 	    x = x / 3 	
%=  	x %= 3 	    x = x % 3 	
//= 	x //= 3 	x = x // 3 	
**= 	x **= 3 	x = x ** 3 	
&= 	    x &= 3 	    x = x & 3 	
|=  	x |= 3  	x = x | 3 	
^=  	x ^= 3 	    x = x ^ 3 	
>>= 	x >>= 3 	x = x >> 3 	
<<= 	x <<= 3 	x = x << 3

In [ ]:
== 	Equal 	    x == y 	
!= 	Not equal 	x != y

In [ ]:
not 	
Reverse the result, returns False if the result is true 	
not(x < 5 and x < 10)

In [ ]:
is  	Returns True if both variables are the same object 	x is y 	
is not 	Returns True if both variables are not the same object 	x is not y

In [ ]:
in  	Returns True if a sequence with the specified value is present in the object 	x in y 	
not in 	Returns True if a sequence with the specified value is not present in the object 	x not in y

In [ ]:
(3 ** 2) + (2**2)

## Built-in functions

In [ ]:
# Convert the number 3 and imaginary number 5 into a complex number: 
x = complex(3, 5)
print(x)
x = complex(0, 9)
print(x)

In [ ]:
# Returns the specified source as an object, ready to be executed
x = compile('print(55)', 'test', 'eval')
exec(x) 
# eval - if the source is a single expression
# exec - if the source is a block of statements
# single - if the source is a single interactive statement

In [2]:
y = chr(65)
print(y)

A

In [ ]:
x = 5

print(callable(x))

def x():
  a = 5

print(callable(x))

In [ ]:
#bytearray("aé123 \_-","UTF-8", 'strict')
bytearray(1)

bytes(x, encoding, error)

# The difference between bytes() and bytearray() is that bytes() returns an object that cannot 
# be modified, and bytearray() returns an object that can be modified.



#encoding 	Optional. A String specifying the encoding to use. Default is UTF-8
#
#errors 	Optional. A String specifying the error method. Legal values are:
#
#'backslashreplace'	- uses a backslash instead of the character that could not be encoded
#'ignore'	        - ignores the characters that cannot be encoded
#'namereplace'	    - replaces the character with a text explaining the character
#'strict'	        - Default, raises an error on failure
#'replace'	        - replaces the character with a questionmark
#'xmlcharrefreplace'	- replaces the character with an xml character

In [ ]:
bool(-5)


#The object will always return True, unless:
#The object is empty, like [], (), {}
# The object is False
# The object is 0
#The object is None

In [ ]:
ascii("abcde1234é")

In [ ]:
# It's like "or"
mylist = [False, True, False]
x = any(mylist)
print(x)

mytuple = (0, 1, False)
x = any(mytuple)
print(x)

# Returns True because the second item is True

In [ ]:
mylist = [1, True, True]
x = all(mylist)
print(x)
"""
The all() function returns True if all items in an 
iterable are true, otherwise it returns False.

If the iterable object is empty, the all() function also returns True.

iterable 	An iterable object (list, tuple, dictionary)
"""
mylist = [0, 1, True]
x = all(mylist)
print(x)

# Returns False because 0 is the same as False
mydict = {0 : "Apple", 1 : "Orange"}
x = all(mydict)
print(x)

# Returns False because the first key is false.

# For dictionaries the all() function checks the keys, not the values.

In [ ]:
#help(dir)
bin(3)
"""
The bin() function returns the binary version of a specified integer.
The result will always start with the prefix 0b.
"""

In [ ]:
abs(-15.7) #Return the absolute value of a number.
# output = 15.7  
x = abs(3+5j) # complex number
print(x)

In [ ]:
# error
#int(3) 
#int('f')
#int("3")
#int('010', 0)

In [ ]:
min([1,2,3,4,0])
min([2,3,4], [0], [1], [-1])

## Variables

In [ ]:
# Valid variables names
firstname
lastname
age
country
city
first_name
last_name
capital_city
_if # if we want to use reserved word as a variable
_while
_for
year_2021
year2021
current_year_2021
birth_year
num1
num2

In [ ]:
# Invalid variables names
first-name
first@name
first$name
num-1
1num